/* Adam Purdon */

/* Kumbh Sans 400, 700 */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /* off white */
  --white: hsl(0, 0%, 98%);

  /* primary text colors */
  --primary-dark-blue: hsl(238, 29%, 16%);
  --primary-soft-red: hsl(14, 88%, 65%);

  /* neutral text colors */
  --neutral-verydark-grayblue: hsl(237, 12%, 33%);
  --neutral-dark-grayblue: hsl(240, 6%, 50%);

  /* background gradients */
  --bg-soft-violet: hsl(273, 75%, 66%);
  --bg-soft-blue: hsl(240, 73%, 65%);

  /* dividers */
  --divider-grayblue: hsl(240, 5%, 91%);
}

* {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --details-transition-time: 200ms;
}

body {
  background: linear-gradient(
    to bottom,
    var(--bg-soft-violet),
    var(--bg-soft-blue)
  );
  background-repeat: no-repeat;
  min-height: 100vh;overflow: auto;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: var(--details-height-open, '100%');
  }
}

/* faq card position */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
}

.faq-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 325px;
  height: 550px;
  background-color: var(--white);
  border-radius: 25px;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.35);
}

.illus-block {
  display: none;
}

.illus-woman {
  display: block;
  position: absolute;
  left: -10px;
  top: -20%;
}

.illus-bg-mobile {
  background: url(./images/bg-pattern-mobile.svg);
  width: 100%;
  height: 150px;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center top;
}

.faq-section {
  position: relative;
  width: 85%;
  height: 100%;
}

.faq-section h1 {
  margin-bottom: 35px;
  text-align: center;
}

details {
  color: var(--neutral-dark-grayblue);
  transition: all ease-out var(--details-transition-time, 0);
  max-height: var(--details-height-closed, auto);
}

details[open] {
  max-height: var(--details-height-open, auto);
}

details div {
  transition: all ease-out var(--details-transition-time, 0);
  max-height: var(--details-content-height-closed, auto);
  overflow: hidden;
  animation-name: slideDown;
  animation-duration: var(--details-transition-time);
}

details.is--open div {
  max-height: var(--details-content-height-open, auto);
}

details summary {
  font-size: 14px;
  outline: none;
}

details[open] summary {
  color: var(--primary-dark-blue);
  font-weight: 700;
}

details summary::-webkit-details-marker {
	display: none;
	cursor: pointer;
}

details summary {
	list-style-type: none;
	cursor: pointer;
}

details summary::before {
  content: url(./images/icon-arrow-down.svg);
  float: right;
}

details[open] summary::before {
  content: url(./images/icon-arrow-down.svg);
  transform: rotate(180deg);
  float: right;
}

.faq-content {
  font-size: 12px;
  line-height: 20px;
}

.divide {
  margin: 15px 0px;
  border-top: 1px solid var(--divider-grayblue);
}

@media only screen and (min-width: 992px) {
  .faq-card {
    width: 875px;
    height: 475px;
  }

  .faq-section {
    width: 50%;
    padding-right: 10%;
  }

  .illus-section {
    position: relative;
    width: 50%;
    height: 100%;
  }

  .illus-bg-mobile {
    height: 0px;
  }

  .illus-woman {
    display: none;
  }

  .illus-bg-desktop {
    background: url(./images/illustration-woman-online-desktop.svg),
      url(./images/bg-pattern-desktop.svg);
    width: 100%;
    height: 100%;
    background-size: 100%, 200%;
    background-repeat: no-repeat, no-repeat;
    background-position: -75px 70px, -510px -270px;
  }

  .illus-block {
    display: block;
    position: absolute;
    left: -20%;
    top: 38%;
  }

  .faq-section h1 {
    margin-top: 75px;
    text-align: left;
  }

  details summary::before {
    margin-right: 15px;
  }

  details[open] summary::before {
    margin-right: 15px;
  }
}
